<h1>It's a birthday app</h1>

<form action='/calc' method='POST'>
  <label for="What name">
    What name
    <input type="text" name="name">
  </label>
  <br>
  <label for="When day">
    When day
    <input type="date" name="birthdate">
  </label>
  <br>
  <input type="submit" value="Submit">
</form>
